body {
  margin: 0;
  font-family:  'Roboto', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inputField {
    padding: 8px;
    margin-top: 18px;
    width: 100%;
}
